XML-Parser/Files/attributes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

 <flow name="getStudentAttrFlow">
   <set-variable variableName="flowName" value="getStudentAttrFlow" doc:name="Set flow variable for flowName" />
   <logger message="projectName=#[flowVars.projectName],flowName=#[flowVars.flowName],logProcessId=#[flowVars.logUUID],message=&quot;START&quot;"
       level="INFO" doc:name="Log generic flow details" category="edu.usf.esb.${app.application.name}" />
        <db:select config-ref="Oracle_Configuration_BANNER" doc:name="GET Attribute Data">
            <db:parameterized-query><![CDATA[select st.sgrsatt_atts_code attsCode, tt.stvatts_desc attsDesc
from sgrsatt st ,stvatts tt
where  st.sgrsatt_atts_code= tt.stvatts_code
 and st.sgrsatt_pidm =#[flowVars.pidm]
 and st.sgrsatt_term_code_eff = (select max(ss.sgrsatt_term_code_eff) from sgrsatt ss
                                 WHERE ss.sgrsatt_pidm = st.sgrsatt_pidm)]]></db:parameterized-query>
        </db:select>
        <set-variable variableName="attributes" value="#[payload]" doc:name="attributes"/>
        <dw:transform-message doc:name="Attribute data">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
flowVars.attributes map ((atts , indexOfatts) -> {

		"attsCode" : atts.ATTSCODE,
		"attsDesc" : atts.ATTSDESC

	})


]]></dw:set-payload>
            <dw:set-variable variableName="attribute"><![CDATA[%dw 1.0
%output application/json
---

 payload map ((atts , indexOfatts) -> {
      	                  "attributeCode"	: atts.attsCode,
      	                  "attributeDesc"   : atts.attsDesc
       })]]></dw:set-variable>
        </dw:transform-message>
        <logger message="projectName=#[flowVars.projectName],flowName=&quot;getStudentAttrFlow&quot;,logProcessId=#[flowVars.logUUID],message=&quot;FINISH&quot;"
            level="DEBUG" doc:name="Log timing" category="edu.usf.esb.${app.application.name}" />
    </flow>


</mule>
